.car {
  width: 100px;
  height: 100px;
  animation-name: move;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}
@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(800px);
  }
}
