body {
  
}
.head-wrapper {
  
}
.img-wrapper {
  width: auto;
}
.img-wrapper img {
 
}
.tag-wrapper {
 
}
.tag-wrapper .item {
 
}
.tag-wrapper .icon {
 
}
.icon-wrapper {
  width: 100%;
  margin: 1em 0;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.2em;
}
.icon-wrapper .icon-item {
  text-align: center;
}
.icon-wrapper .icon-item a strong {
  display: block;
  font-size: 14px;
  color: #F40;
}
.alert {
  
}
.alert a {
  display: inline-block;
  padding: 0 3em;
  font-size: 13px;
  color: #F40;
}
.alert img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 75%;
  width: auto;
}
.tag-container {
  margin-top: 1.5em;
  width: 100%;
}
.tag-container .tag-auto {
  margin: 1em 2em;
}
.tag-container .item-wrapper {
  justify-content: space-between;
  font-size: 14px;
  height: 1.5em;
}
.tag-container .item-wrapper .tag:nth-child(3) {
  font-weight: 700;
  border-bottom: 0.2em solid #F40;
}
.tag-container .tag-item {
  margin-top: 1em;
  display: flex;
  flex-flow: row wrap;
}
.tag-container .tag-item .tag-label {
  width: 45%;
  margin-right: 1em;
  margin-bottom: 1em;
  text-align: center;
  color: #F40;
}
.icon-container {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.icon-container .icon-wrapper .icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-top: 11px;
  background-repeat: no-repeat;
}
.icon-container .wrapper-item {
  margin-top: 1.5px;
  margin-bottom: 0;
}
.icon-container .wrapper-item .icon-item {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-top: none;
  border-bottom: 1px solid red;
  flex: 1;
}
.icon-container .wrapper-item .icon-item:nth-child(1) {
  border: 1px solid red;
  border-bottom: none;
}
.icon-container .wrapper-item .icon-item:nth-child(1) span {
  background: url(https://img.alicdn.com/tfs/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png) 0 0 no-repeat;
}
.icon-container .wrapper-item .icon-item:nth-child(2) span {
  background: url(https://img.alicdn.com/tfs/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png) 0 0 no-repeat;
  background-position: 0 -87px;
}
.icon-container .wrapper-item .icon-item:nth-child(3) span {
  background: url(https://img.alicdn.com/tfs/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png) 0 0 no-repeat;
  background-position: 0 -44px;
}
.icon-container .wrapper-item .icon-item:nth-child(4) span {
  background: url(https://img.alicdn.com/tfs/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png) 0 0 no-repeat;
  background-position: 0 -132px;
}
.icon-container .icon-content-container {
  border: 1px solid red;
  border-top: none;
  position: relative;
}
.icon-container .icon-content-container .close {
  position: absolute;
  right: 0;
  top: 0;
}
.icon-container .icon-content-container .close img {
  width: 12px;
  height: 12px;
}
.icon-container .icon-content-container .content-item {
  width: 95%;
  margin-top: 0;
  padding-top: 0.8em;
}
.icon-container .main-content {
  margin-left: 1em;
}
.icon-container .main-content .input-wrapper {
  position: relative;
  width: 55%;
  height: 2.2em;
}
.icon-container .main-content .input-wrapper input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.icon-container .main-content .input-wrapper .input-icon {
  position: absolute;
  right: 0.2em;
  top: 50%;
  transform: translateY(-50%);
  display: inline;
}
.icon-container .main-content .input-wrapper .input-icon img {
  width: 1.4em;
  height: 1.4em;
}
.icon-container .main-content .money-container {
  margin-top: 0.6em;
}
.icon-container .main-content .money-container .money-wrapper .title,
.icon-container .main-content .money-container .money-wrapper .symbol {
  color: #666;
}
.icon-container .main-content .money-container .money-wrapper .money {
  color: #f60;
  font-weight: 700;
  font-family: verdana, arial;
}
.icon-container .main-content .btn-container {
  margin: 0.6em 0;
}
.icon-container .main-content .btn-container .btn {
  text-align: center;
  width: 4.5em;
  display: block;
  padding: 0.4em;
  background: #f40;
  color: white;
  font-weight: 700;
}
