body {
    background: #fff;
    font: 100% system-ui;
  }
  
  h1,
  p {
    color: #222;
  }
  
  body.dark-theme {
    background: #121212;
  }
  body.dark-theme h1,
  body.dark-theme p {
    color: #eee;
  }
  body.dark-theme a {
    color: #809fff;
  }