* {
  font-size: 50px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.root {
  width: 100%;
  background: #1e2022;
}
.root header {
  width: 100%;
  height: 1.2rem;
  box-shadow: 0 1px 0 0 rgba(25, 31, 37, 0.12);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.08);
  justify-content: center;
  display: flex;
}
.root header .tag-wrapper {
  width: 24rem;
  align-items: center;
  display: flex;
  height: 100%;
}
.root header .tag-wrapper .logo {
  width: 1.48rem;
  height: 0.52rem;
  background-image: url("http://gw.alicdn.com/tfs/TB1HbmLbQ5E3KVjSZFCXXbuzXXa-124-44.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.root .body {
  width: 100%;
  margin: auto;
  max-width: 24rem;
}
.root .body .body-title {
  margin: 0.34rem 0 0.32rem;
  font-size: 0.4rem;
  color: hsla(0, 0%, 100%, 0.8);
}
.root .body .body-title .span-wrapper {
  color: hsla(0, 0%, 100%, 0.48);
  font-size: 0.24rem;
  height: 0.4rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-top: 0.16rem;
}
.root .body .body-title .span-wrapper .span-tag {
  color: white;
  font-size: 0.24rem;
  font-weight: 700;
  padding: 0.08rem;
  margin-right: 0.16rem;
  border-radius: 0.06rem;
  background: #576a95;
  height: 0.4rem;
  line-height: 0.25rem;
  font-family: PingFangSC-Regular;
}
.root .body .body-main {
  height: 11.04rem;
  display: flex;
}
.root .body .body-main .main-left {
  flex: 1;
}
.root .body .body-main .main-left .video-wrapper {
  height: 9rem;
  max-width: 1120px;
  width: 100%;
}
.root .body .body-main .main-left .video-wrapper .video-index {
  height: 100%;
  width: 100%;
}
.root .body .body-main .main-left .video-wrapper .video-index .video {
  background-color: #000;
  width: 100%;
  height: 100%;
}
.root .body .body-main .main-left .left-down {
  height: 1.04rem;
  display: flex;
  background: #2c2d2f;
  color: hsla(0, 0%, 100%, 0.8);
  box-sizing: border-box;
  padding-left: 0.32rem;
  align-items: center;
}
.root .body .body-main .main-left .left-down span {
  font-size: 0.24rem;
}
.root .body .body-main .main-right {
  width: 8rem;
  height: 10.04rem;
  background: #2c2d2f;
  position: relative;
}
.root .body .body-main .main-right .right-tag {
  display: flex;
  align-items: center;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.08);
  height: 0.7rem;
}
.root .body .body-main .main-right .right-tag .tag {
  margin: 0 0.2rem;
  height: 100%;
  line-height: 0.7rem;
  font-size: 0.28rem;
  color: #4378f5;
  font-weight: 600;
  padding: 0 0.1rem 0.035rem 0.1rem;
  cursor: pointer;
  border-bottom: 0.04rem solid #4378f5;
  text-align: center;
}
.root .body .body-main .main-right .right-body {
  position: absolute;
  left: 0;
  top: 1rem;
  bottom: 1.1rem;
  padding: 0 0.24rem;
  max-height: 80%;
}
.root .body .body-main .main-right .right-body .msg-wrapper {
  width: 100%;
  padding: 0 0.16rem;
  margin-bottom: 0.24rem;
  color: hsla(0, 0%, 100%, 0.8);
  box-sizing: border-box;
  display: flex;
}
.root .body .body-main .main-right .right-body .msg-wrapper .msg-img {
  margin-right: 0.16rem;
  width: 0.6rem;
  height: 0.6rem;
  display: inline-block;
}
.root .body .body-main .main-right .right-body .msg-wrapper .msg-img img {
  display: block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.root .body .body-main .main-right .right-body .msg-wrapper .msg-index {
  display: inline-block;
  font-size: 0.24rem;
  line-height: 0.6rem;
}
.root .body .body-main .main-right .right-foot {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.2rem;
}
.root .body .body-main .main-right .right-foot .foot-msg {
  display: flex;
  align-items: center;
  width: 6.6rem;
  cursor: pointer;
}
.root .body .body-main .main-right .right-foot .foot-msg .input-wrapper {
  height: 0.64rem;
  line-height: 0.64rem;
  flex: 1;
  padding: 0 0.34rem;
  border-radius: 0.38rem 0 0 0.38rem;
  background: #1e2022;
  color: hsla(0, 0%, 100%, 0.32);
}
.root .body .body-main .main-right .right-foot .foot-msg .input-wrapper p {
  font-size: 0.24rem;
  margin: 0;
  padding: 0;
}
.root .body .body-main .main-right .right-foot .foot-msg .send {
  padding: 0 0.24rem;
  color: hsla(0, 0%, 100%, 0.48);
  text-align: center;
  background: hsla(0, 0%, 100%, 0.12);
  border-radius: 0 0.38rem 0.38rem 0;
  height: 0.64rem;
  line-height: 0.64rem;
  font-size: 0.24rem;
}
.root .body .body-main .main-right .right-foot .foot-img {
  position: absolute;
  bottom: 0.2rem;
  right: 0.24rem;
  z-index: 2;
  cursor: pointer;
}
.root .body .body-main .main-right .right-foot .foot-img .foot-img-wrapper {
  width: 0.72rem;
  height: 0.72rem;
  margin-left: 0.28rem;
}
.root .body .body-main .main-right .right-foot .foot-img .foot-img-wrapper div {
  height: 100%;
  background-image: url(../img/good.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 50%;
}
@media all and (min-width: 1024px) {
  header {
    height: 120px;
  }
  .body-main {
    flex-direction: column;
  }
}
